.booking-panel-container {
  position: relative;
}

.dashboard {
  width: 1024px;
  margin: 0 auto;
  margin-top: 80px;
}

.app-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
