:host ::ng-deep p-columnfilter input {
  width: 150px;
}

.back-link {
  color: red;
  font-size: 20px;
}

.route-info {
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  color: #ff0;
  padding: 30px;
  border-radius: 10px;
}
