<div class="row">
  <div class="col-md-6">
    <p-card class="popular-routes" header="Popular Routes">
      <ul class="dashboard-list">
        <li *ngFor="let route of routes">
          <span class="route-icon" aria-hidden="true">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              xml:space="preserve"
            >
              <path d="M25,13c0,8-9,15-9,15s-9-7-9-15c0-5,4-9,9-9S25,8,25,13z" />
              <circle cx="16" cy="13" r="3" />
            </svg>
          </span>
          <span class="route-text">{{ route }}</span>
        </li>
      </ul>
    </p-card>
  </div>
  <div class="col-md-6">
    <p-card class="why-choose" header="Why to choose O-Bus">
      <ul class="dashboard-list">
        <li *ngFor="let reason of reasons">
          <span class="feature-icon" aria-hidden="true">
            <svg
              fill="#000000"
              width="800px"
              height="800px"
              viewBox="0 0 1024 1024"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M760 380.4l-61.6-61.6-263.2 263.1-109.6-109.5L264 534l171.2 171.2L760 380.4z"
              />
            </svg>
          </span>
          <span class="feature-text">{{ reason }}</span>
        </li>
      </ul>
    </p-card>
  </div>
</div>
<div class="row">
  <div class="col">&nbsp;</div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-panel header="Payment Options">
      <div class="payment-icons">
        <img src="assets/payment-icons/mastercard.svg" alt="Mastercard" />
        <img src="assets/payment-icons/visa.svg" alt="Visa" />
        <img src="assets/payment-icons/visa-alt.svg" alt="Visa Alt" />
        <img src="assets/payment-icons/american-express.svg" alt="American Express" />
        <img src="assets/payment-icons/paypal.svg" alt="PayPal" />
        <img src="assets/payment-icons/google-pay.svg" alt="Google Pay" />
        <img src="assets/payment-icons/apple-pay.svg" alt="Apple Pay" />
        <img src="assets/payment-icons/maestro-alt.svg" alt="Maestro" />
        <img src="assets/payment-icons/diners.svg" alt="Diners Club" />
        <img src="assets/payment-icons/elo.svg" alt="Elo" />
        <img src="assets/payment-icons/cartes-bancaires.svg" alt="Cartes Bancaires" />
        <img src="assets/payment-icons/dankort.svg" alt="Dankort" />
        <img src="assets/payment-icons/hipercard.svg" alt="Hipercard" />
        <img src="assets/payment-icons/vpay.svg" alt="VPay" />
      </div>
    </p-panel>
  </div>
</div>
<div class="row">
  <div class="col">&nbsp;</div>
</div>
