# Angular build output
/dist
/tmp
/out-tsc

# Node modules
/node_modules

# IDE and editor settings
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
*.env
*.local

# Coverage reports
/coverage

# Misc
.DS_Store
Thumbs.db
