<p-drawer
  header="Passenger Details"
  [(visible)]="visible"
  position="right"
  [style]="{ width: '35rem' }"
  (onHide)="onHideDetails()"
>
  @if (visible) {
    <ng-container>
      <form [formGroup]="passengerForm">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Title</th>
              <th scope="col">Name</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody formArrayName="passengers">
            @for (passenger of passengers.controls; track i; let i = $index) {
              <tr [formGroupName]="i">
                <th scope="row" class="text-center align-middle">{{ i + 1 }}</th>
                <td>
                  <p-select
                    [options]="titleList"
                    optionLabel="title"
                    placeholder="Select title"
                    class="w-full md:w-56"
                    formControlName="title"
                  />
                </td>
                <td style="width: 300px">
                  <input pInputText type="text" formControlName="name" class="w-full" />
                </td>
                <td style="width: 100px">
                  <input pInputText type="number" formControlName="age" class="w-full" />
                </td>
              </tr>
            }
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12 text-right">
            <p-button
              type="submit"
              [disabled]="passengerForm.invalid"
              (click)="onSubmitPassengers()"
            >
              &nbsp;&nbsp;Submit&nbsp;&nbsp;
            </p-button>
          </div>
        </div>
      </form>
    </ng-container>
  }
</p-drawer>
