<div class="row mt-3">
  <div class="col-md-12">
    <div class="register-panel">
      <p-card header="Register">
        <form [formGroup]="registerForm">
          <div class="row mt-3">
            <div class="col">
              <label for="firstname">Firstname</label>
              <input type="text" id="firstname" formControlName="firstName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Lastname</label>
              <input type="text" id="lastname" formControlName="lastName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Email</label>
              <input type="text" id="email" formControlName="email" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Username</label>
              <input type="text" id="username" formControlName="userName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Password</label>
              <input type="password" id="password" formControlName="password" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Confirm Password</label>
              <input type="password" id="confirmPassword" pInputText />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p-button label="Register" (click)="onRegister()" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <p class="text-center">Already Have Account? <a routerLink="/login">Login Here</a></p>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
