<div class="row mt-3">
  <div class="col-md-12">
    <div class="register-panel">
      <p-card header="Register">
        <form [formGroup]="registerForm">
          <div class="row mt-3">
            <div class="col">
              <label for="firstname">Firstname</label>
              <input type="text" id="firstname" formControlName="firstName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Lastname</label>
              <input type="text" id="lastname" formControlName="lastName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Email</label>
              <input type="email" id="email" formControlName="email" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Username</label>
              <input type="text" id="username" formControlName="userName" pInputText />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Password</label>
              <input type="password" id="password" formControlName="password" pInputText />
              @if (
                (passwordControl?.touched || passwordControl?.dirty) &&
                  passwordControl?.errors?.['passwordStrength'];
                as strength
              ) {
                @if (!strength.hasMinLength) {
                  <p>Should be 6 characters long</p>
                }
              }
              <!-- <div *ngIf="password?.errors?.['passwordStrength'] as strength">
                <p *ngIf="!strength.hasMinLength">❌ At least 8 characters</p>
                <p *ngIf="!strength.hasUpperCase">❌ At least one uppercase letter</p>
                <p *ngIf="!strength.hasLowerCase">❌ At least one lowercase letter</p>
                <p *ngIf="!strength.hasNumeric">❌ At least one number</p>
                <p *ngIf="!strength.hasSpecialChar">❌ At least one special character (!@#$%^&*)</p>
              </div> -->
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="firstname">Confirm Password</label>
              <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                pInputText
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p-button label="Register" (click)="onRegister()" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <p class="text-center">Already Have Account? <a routerLink="/login">Login Here</a></p>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>
