.card.booking-panel {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .booking-toolbar {
    border-radius: 3rem;
    padding: 15px;
    background: #ffffff;
    width: 100%;
    border: none;

    .flex-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }

    .flex-container div {
      margin: 1px;
    }

    .flex-container div small {
      display: block;
      color: #333;
      margin-bottom: 2px;
    }

    .traveller-detail {
      display: block;
      width: 200px;
      height: 62px;
      padding: 20px;
      background-color: #ddd;
      border-radius: 5px;
      color: #333;
      cursor: pointer;
      position: relative;

      .details-block {
        display: block;
        width: 450px;
        padding: 0 25px 25px 25px;
        margin-top: 5px;
        background-color: #ddd;
        position: absolute;
        top: 100%;
        left: -50px;
        -webkit-box-shadow: -1px 7px 12px 3px rgba(161, 161, 161, 0.76);
        box-shadow: -1px 7px 12px 3px rgba(161, 161, 161, 0.76);

        .left-block {
          float: left;
          margin-top: 25px;

          h5 {
            display: inline-block !important;
          }

          h6 {
            margin-top: 20px;
            margin-left: 30px;
          }

          &.no-margin {
            margin-top: 0;
          }
        }

        .right-block {
          float: right;
          margin-top: 15px;

          .count-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .age-list {
              display: block;
            }

            .count-display {
              padding: 10px 12px;
              font-size: 16px;
              font-weight: 700;
            }
          }
          &.no-margin {
            margin-top: 0;
          }
        }

        .block-hr {
          clear: both;
          padding: 1px 0 0 0;
        }
      }

      .details-block.hide {
        display: none;
      }
    }
  }
}

.booking-datepicker {
  width: 200px;
}

.booking-select {
  background: white;
  color: #333;
}

:host ::ng-deep p-button.booking-button .p-button {
  display: block;
  width: 200px;
  padding: 20px;
  background-color: #fa6b6b;
  border: none;
}

:host ::ng-deep .p-inputtext {
  padding: 20px 10px;
  color: #333333;
  background-color: #ddd;
  border: none;
  text-align: center;
}

:host ::ng-deep p-select.booking-select.p-select {
  width: 150px;
  padding: 5px;
  color: #333333;
  background-color: #ffffff;
}

:host ::ng-deep p-select .p-select-label {
  color: #333333;
}
