<div class="card booking-panel">
  <p-toolbar class="booking-toolbar">
    <div class="row">
      <div class="col">
        <p-floatlabel>
          <input
            type="text"
            pInputText
            id="fromInput"
            class="inputtext"
            placeholder="Enter origin"
          />
          <label for="fromInput">From</label>
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <input
            type="text"
            pInputText
            id="toInput"
            class="inputtext"
            placeholder="Enter destination"
          />
          <label for="toInput">To</label>
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <p-datepicker [showButtonBar]="true" placeholder="From date" class="booking-datepicker" />
          <label for="dateInput">Date</label>
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <p-datepicker [showButtonBar]="true" placeholder="To date" class="booking-datepicker" />
          <label for="dateInput">Date</label>
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <p-select
            [options]="cities"
            [(ngModel)]="selectedCity"
            optionLabel="name"
            placeholder="Select a City"
            class="w-full md:w-56 booking-select"
            styleClass="white-select"
          />
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <p-button label="Search Buses" class="booking-button" />
        </p-floatlabel>
      </div>
    </div>
  </p-toolbar>
</div>
