<div class="details-block" (click)="onChildClick($event)">
  <div class="row">
    <div class="col-md-8">
      <h4>Adult:&nbsp;</h4>
      <span>(26-57 years)</span>
    </div>
    <div class="col-md-4">
      <div class="counter-block">
        <span
          ><p-button icon="pi pi-minus-circle" aria-label="Save" (click)="removeAdult()"
        /></span>
        <span class="count-display"
          ><p>{{ adults.length }}</p></span
        >
        <span><p-button icon="pi pi-plus-circle" aria-label="Save" (click)="addAdult()" /></span>
      </div>
    </div>

    <!-- Adult form group starts here -->
    <form [formGroup]="adultFormGroup">
      <div formArrayName="adults">
        @for (adult of adults.controls; track $index; let i = $index) {
          <div class="row mt-2" [formGroupName]="i">
            <div class="col-md-8">
              <h6>Adult {{ i + 1 }}</h6>
            </div>
            <div class="col-md-4">
              <p-select
                [options]="adultAgeList"
                optionLabel="age"
                size="small"
                placeholder=""
                class="w-full md:w-56"
              />
            </div>
          </div>
        }
      </div>
    </form>
    <!-- Adult form group starts here -->
  </div>
  <div class="block-hr"><hr /></div>
  <div class="row">
    <div class="col-md-8">
      <h4>Youth:&nbsp;</h4>
      <span>(0-25 years)</span>
    </div>
    <div class="col-md-4">
      <div class="counter-block">
        <span
          ><p-button icon="pi pi-minus-circle" aria-label="Save" (click)="removeYouth()"
        /></span>
        <span class="count-display"
          ><p>{{ youths.length }}</p></span
        >
        <span><p-button icon="pi pi-plus-circle" aria-label="Save" (click)="addYouth()" /></span>
      </div>
    </div>

    <!-- Youth form group starts here -->
    <form [formGroup]="youthFormGroup">
      <div formArrayName="youths">
        @for (youth of youths.controls; track $index; let i = $index) {
          <div class="row mt-2" [formGroupName]="i">
            <div class="col-md-8">
              <h6>Youth {{ i + 1 }}</h6>
            </div>
            <div class="col-md-4">
              <p-select
                [options]="youthAgeList"
                optionLabel="age"
                size="small"
                placeholder=""
                class="w-full md:w-56"
              />
            </div>
          </div>
        }
      </div>
    </form>
    <!-- Youth form group ends here -->
  </div>
  <div class="block-hr"><hr /></div>
  <div class="row">
    <div class="col-md-8">
      <h4>Senior:&nbsp;</h4>
      <span>(58+ years)</span>
    </div>
    <div class="col-md-4">
      <div class="counter-block">
        <span
          ><p-button icon="pi pi-minus-circle" aria-label="Save" (click)="removeSenior()"
        /></span>
        <span class="count-display"
          ><p>{{ seniors.length }}</p></span
        >
        <span><p-button icon="pi pi-plus-circle" aria-label="Save" (click)="addSenior()" /></span>
      </div>
    </div>

    <!-- Senior form group starts here -->
    <form [formGroup]="seniorFormGroup">
      <div formArrayName="seniors">
        @for (senior of seniors.controls; track $index; let i = $index) {
          <div class="row mt-2" [formGroupName]="i">
            <div class="col-md-8">
              <h6>Senior 1</h6>
            </div>
            <div class="col-md-4">
              <p-select
                [options]="seniorAgeList"
                optionLabel="age"
                size="small"
                placeholder=""
                class="w-full md:w-56"
              />
            </div>
          </div>
        }
      </div>
    </form>
    <!-- Senior form group ends here -->
  </div>
</div>
